@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* *{
    border: solid red 1px;
} */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding:18px 120px 60px 120px;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
 list-style: none;
 display: flex;
 gap: 16px;
 margin: 0;
 padding: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    display: flex;
    background-color: #1F2937;
    padding: 60px 120px 120px 120px;
    justify-content: space-evenly;
}
.hero-info{
    padding-right:80px ;
}
.hero-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;

}
.hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
    border: #3882f6;
    height: 32px;
    width: 96px;
    color: white;
    font-weight: 700;
}

img{
    width: 100%;
    height: auto;
}

.subtitle{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
}



.images-and-descriptions{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-and-description{
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 150px;
    gap: 8px;
}

.square{
    border: solid 4px #3882f6;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.square img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-description{
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
    color: rgb(71, 71, 71);
    flex: 0 1 0%;
}
